[2018-11-08 06:26] janz93 opened #106 "December meetup 12.12.2018"
12.12.2018 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Send out push notification for iOS app](http://hamburg.onruby.de/admin/dashboard)
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=s

[2018-11-13 09:29] janz93 commented on #104
@tobstarr Das wäre super.
Ich würde dich bitten auf der [Webseite den Talk anzulegen](http://hamburg.onruby.de/topics/new), sodass er auch auf der Webseite zusehen ist

[2018-11-14 05:39] tobstarr commented on #104
@janz93 so, endlich geschafft. http://hamburg.onruby.de/topics/graphql-673

[2018-11-15 15:07] #104 closed

[2018-12-05 08:45] DonSchado commented on #106
Hi @janz93,

@jhilden and I from railslove/cologne, are planning to visit you next week and we would like to bring a talk.

Something like:
[code]

I would plan for 30 min (maybe 40 + QA).

[2018-12-05 12:05] janz93 commented on #106
@DonSchado @jhilden That is awesome 🎊
Yes we are currently looking for talks!
It would be great if you could [add the talk to our website](http://hamburg.onruby.de/topics/new).

[2018-12-18 14:57] #106 closed

[2019-01-02 09:44] janz93 opened #107 "January 2019 meetup"
09.01.2019 19:00
- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRnN

[2019-01-02 09:47] janz93 commented on #103
reference #107

[2019-01-02 09:47] #103 closed

[2019-01-05 18:54] phoet opened #109 "Change Twitter Handle"
as proposed on the last meetup, i would like to change the twitter handle to something that can be searched easily and does not need any explanation. it would be great to announce it on the next meetup #107 .

thoughts?

@rughh/all

[2019-01-08 12:51] salzig commented on #109
`@rughh` and `@rubyhh` are sadly already taken.

as of right now those two options are still free to claim:
- `@HamburgRUG`
- `@HamburgOnRuby' 

[2019-01-10 09:46] #107 closed

[2019-02-05 10:00] janz93 opened #110 "Februar 2019 Meetup"
13.02.2019  19:00
- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRn

[2019-02-20 09:56] janz93 commented on #110
@crush-157 and @skorfmann could you comment a link to your slides if you want to share so I can link them in our website?

[2019-02-20 10:18] crush-157 commented on #110
https://docs.google.com/presentation/d/e/2PACX-1vQ3sGjnXpV_AFRdCU084LNORA4E4B9aPBVhjvJwYeWsxCtsmTCK1TgzzLeTgsZOy6UHhVYtJDr7nAq4/pub?start=false&loop=false&delayms=5000

[2019-02-28 21:47] skorfmann commented on #110
[geminator.pdf](https://github.com/rughh/planning/files/2917020/geminator.pdf)

[2019-03-01 13:37] #110 closed

[2019-03-05 09:22] janz93 opened #111 "March 2019 Meetup"
13.03.2019  19:00
- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRn

[2019-03-05 09:29] janz93 opened #112 "x-ion hosting offer"
@bpieck thank you again for your hosting offer.
As discussed we would think about April as possible hosting time.

[2019-03-05 09:43] janz93 commented on #109
alternatively how about `@rug_hh` to follow the Berlin naming

[2019-03-06 08:49] lindtdev commented on #109
I like rug_hh

[2019-03-06 09:10] phoet commented on #109
@janz93 i would propose that you use the next meetup to do a voting and then change it throughout the meetup so that everyone can tweet about it and people know whats going on. what do you think?

[2019-03-06 13:04] janz93 commented on #109
@phoet that is a great idea.
I will go that 👍

[2019-03-07 16:03] #100 closed

[2019-03-07 16:04] phoet commented on #111
@janz93 is there no location yet?

[2019-03-07 16:20] janz93 commented on #111
@phoet Yes event inc. I didn't had the chance yet to add it to the website

[2019-03-07 16:58] seiffert commented on #111
Hey, @phoet mentioned to me that you're looking for speakers. I could give a talk on how we solved monitoring and logging in Jimdo's internal container platform.

**Topics covered in the talk:**
- How the platform works (high level overview)?
- Monitoring with Prometheus and Grafana
- Notifications via Slack and PagerDuty
- Centralized logging based on the Elastic stack
- Being On-Call

Regarding

[2019-03-07 19:59] phoet commented on #111
@seiffert that would be great, thx! 😻

[2019-03-12 14:08] phoet commented on #111
@janz93 ich habe das mal auf twitter geteilt, damit vielleicht auch jemand kommt

[2019-03-14 16:27] phoet commented on #111
@emrox kannst du deine slides hier verlinken? danke!

[2019-03-14 16:28] phoet commented on #112
@bpieck as we already talked about, please let me know if you think that there is enough space in the venue. cheers!

[2019-03-14 16:29] phoet commented on #109
https://twitter.com/HamburgOnRuby

[2019-03-14 16:30] #109 closed

[2019-03-14 16:30] phoet commented on #111
changed the twitter handle https://github.com/rughh/planning/issues/109

[2019-03-14 16:30] #111 closed

[2019-03-14 16:32] phoet opened #113 "April 2019 Meetup"
10.04.2019  19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zR

[2019-03-14 16:32] phoet commented on #113
location most likely https://github.com/rughh/planning/issues/112

[2019-03-14 16:32] #88 closed

[2019-03-20 10:03] bpieck commented on #112
As explained: We will clear the developer area, since it's the biggest room. If the average of 19 participants will come, that's enough space. If many more will come, we would get into a problem.

[2019-03-20 10:05] phoet commented on #112
@bpieck great 👍 we are going to communicate that there is limited space, so we should be ok

[2019-03-20 12:47] bpieck commented on #112
thanks :)

[2019-04-04 14:27] phoet commented on #113
@wwwbruno would you like to give your talk on the april edition? https://hamburg.onruby.de/users/wwwbruno-2922

[2019-04-04 14:28] phoet commented on #113
@HuldaLa would you like to give your talk on the april edition? https://hamburg.onruby.de/users/huldala-256

[2019-04-05 07:22] wwwbruno commented on #113
@phoet sure! I have the presentation ready for the meetup! Count on me 😄

[2019-04-07 19:14] HuldaLa commented on #113
Hi Peter,
sorry, da habe ich wohl was missverstanden. Ich wollte dazu keinen Talk
halten, sonder würde liebend gerne einen Talk dazu hören. Besonders
neugierig wäre ich auf das Thema Performance ;-)
Aber dazu was vortragen, kann ich leider nicht.

LG,
Anne

Peter Schröder <notifications@github.com> schrieb am Do., 4. Apr. 2019
16:28:

[2019-04-07 19:23] phoet commented on #113
@huldala sorry, da hab ich wohl schief geguckt

[2019-04-10 17:41] halfbyte opened #114 "May 2019 Meetup"
{Date of the meetup} {Time of the meetup}

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google.com/present

[2019-04-10 17:55] #112 closed

[2019-04-11 14:29] phoet commented on #113
@wwwbruno do you want to share your slide-deck? i'll link it into the event in case you have it somewhere online.

[2019-04-24 19:02] #113 closed

[2019-04-26 06:49] sebs commented on #114
Since there was a like on twitter:

* Monorepos with lerna.js with a twist of web components

[2019-04-26 06:49] phoet commented on #114
@sebs :tada:

[2019-04-30 10:16] halfbyte commented on #114
@sebs If you would still be willing to give this talk at our next meeting (8th of May) could you add this (with a proper abstract) to https://hamburg.onruby.de/topics/new? Then I can add it to the event.

[2019-05-01 12:35] sssggr commented on #114
I can give a talk about pair programming: A bit of history, the benefits, challenges and some things that might help to tackle them and of course why you should pair more often. I'll add the topic.

[2019-05-01 14:02] halfbyte commented on #114
@sssggr 1000 Dank! As soon as I figure out how to use the new OnRuby admin interface, I'll add your talk to the event.

[2019-05-05 08:51] sebs commented on #114
Sorry I am reposnding so shortly. I can come up with a short version of the talk

[2019-05-06 07:57] halfbyte commented on #114
@sebs All fine, added the topic to the event.

@sssggr I was finally able to add your talk to the event as well. @phoet's admin backend migration was timed perfectly :-D

[2019-05-06 08:22] phoet commented on #114
@halfbyte sorry for the troubles!

[2019-05-07 17:02] sebs commented on #114
@halfbyte I will put it into a small motivational thingie - about 10 minutes I try.

[2019-05-08 15:46] halfbyte commented on #114
@sebs Knock yourself out. :)

[2019-05-14 14:35] phoet opened #115 "Juni Meetup 2019"
12.06. 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRnNKdG

[2019-05-14 14:36] phoet commented on #115
@halfbyte should i be organizing the next event or did somebody else volunteer? did we get any leads in terms of talks or locations?

[2019-05-29 07:41] bpieck opened #116 "More discussions"
Since ruby unconf I am totally enthusiastic about this Fishbowl discussion format. And since the most productive and exciting part of last ruby usergroup meeting was the discussion afterwards (at least in my opinion - although the presentation itself was great of course): Wouldn't it be great to always end a ruby usergroup with such a discussion format?
When I thought last time about it, I came up

[2019-05-31 10:49] phoet commented on #116
thanks for the feedback. unfortunately i was not present for the unconf, but i've participated in some openspace meetups where very interesting discussions have been held. so i can sympathize with that idea.

i would suggest that we add this to the mix, similar to lightning-talks and such.

@halfbyte any thoughts on this?

[2019-05-31 10:49] #114 closed

[2019-05-31 11:38] bpieck commented on #116
Since you did not attend ruby unconf: The fishbowl discussion I attended  was about estimate/no-estimate. I think about the topic I loved, that this is such a standard issue I never saw resolved best. I even could not really imagine a talk about. Just to collect opinions about it and maybe see others struggle about that topic in a similar manner as oneself - that felt quite productive and reasurin

[2019-06-01 10:17] phoet commented on #115
https://hamburg.onruby.de/events/ruby-usergroup-hamburg-juni-2019-552

[2019-06-27 18:28] halfbyte opened #117 "July meetup 2019"
10.07. 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRnNKdG

[2019-06-27 18:30] halfbyte commented on #116
@phoet I would love to do more of these as well, the fishbowls really were my highlight of the conf as well.

It would be good to have these pre-announced so that people know what they're getting themselves into, I think.

[2019-06-27 18:32] halfbyte commented on #117
@phoet Sorry for leaving you hanging in June, I thought I made it clear I wasn't going to be able to do anything (I probably didn't).

In any case, I'm up for organising this one. Any pointers for locations? Should we just go for grill-in-the-park?

[2019-06-27 19:00] phoet commented on #117
no worries, was a nice ruby-burgers event.

since todays siebenschläfer was the lousiest of days, i would not bet on anything outdoors this summer...

i talked to this developer woman from xing, dont remember the name though, she would like to host something at xing, maybe we could set grilling up there? will try to find out who that was.

[2019-07-01 07:43] janz93 commented on #117
@phoet her name is `Isobel` I couldn't find her twitter or Github handle so I wrote her an email in which I referred to this issue. We will see what will happen

[2019-07-01 07:43] #115 closed

[2019-07-01 07:47] phoet commented on #117
@janz93 thx! next time please add me to CC

[2019-07-01 07:58] janz93 commented on #117
@phoet Oh sorry will do :)

[2019-07-01 08:47] IzzySmith commented on #117
Hi, its `this developer woman from xing`

I am unfortunately at an offsite with my team on the 10.07. (an overnight stay so no chance to make the meetup)

One of my colleagues, Jan Habermann said he would be happy to coordinate it on the 10.07 but would need people to help him out to do that.

Alternatively, we can host it at Xing in August, where I would be available to help him.

[2019-07-01 09:37] haberbyte commented on #117
Unfortunately, I just saw the room is already booked on that date. 😭

But as @IzzySmith already said, happy to host another time!
Sorry for that.

[2019-07-01 10:12] phoet commented on #117
@haberbyte @IzzySmith thx, should we aim for 14th of august then? that would probably be organized with @halfbyte then.

[2019-07-01 11:43] haberbyte commented on #117
Works for me, I put in a room reservation for the 14th, so we can do it on that day!

[2019-07-01 11:54] phoet opened #118 "August meetup 2019"
14.08. 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRnNKdG

[2019-07-01 11:56] phoet commented on #118
@haberbyte @IzzySmith created a new issue for august. thx for reserving a room. i got a little confused over who will organize it and it looks like it's my turn, not @halfbyte

see https://github.com/rughh/planning/issues/117#issuecomment-507230372

[2019-07-01 13:01] lindtdev commented on #117
so we don't have a new location yet? should we ask around on twitter if someone is available for next Wednesday?

[2019-07-01 13:29] janz93 commented on #117
@lindtdev could be a good idea. If we want to stick with the grilling maybe mindmatter or phraseapp are places we could ask as I had at both location a grilling before

[2019-07-14 08:58] #117 closed

[2019-08-02 15:39] phoet commented on #118
@haberbyte @IzzySmith is everything ready for next Wednesday? Do you think that someone at xing would like to give a talk that day?

[2019-08-02 15:41] phoet commented on #118
The one after next actually...

[2019-08-06 11:30] IzzySmith commented on #118
@phoet we have the room booked, and some drinks organised :)
I am still looking for someone to give a talk, so fingers crossed

[2019-08-06 11:35] phoet commented on #118
@IzzySmith ❤️ thx!

[2019-08-07 15:13] IzzySmith commented on #118
Just a quick update :) I have one speaker confirmed, and two others who will take the weekend to prepare, and get back to me if they feel confident to present.

[2019-08-07 17:37] phoet commented on #118
@IzzySmith thanks! would be great if the speaker(s) could add their talks here https://hamburg.onruby.de/topics/new

[2019-08-12 08:43] phoet commented on #118
@IzzySmith could you be so nice to give me some details on the speakers and the topics so that i can communicate what's going to happen on the event?

[2019-08-12 13:50] IzzySmith commented on #118
Yep sure ^^ I was just waiting for people to confirm their talks.

So we have Ferhat Ziba who will talk about Building a crypto exchanger with rails, and I am still waiting for a confirmation from another colleague :)

[2019-08-13 13:56] IzzySmith commented on #118
Unfortunately, my other colleague is unable to give a talk, so right now we only have one confirmed.

[2019-08-13 14:08] phoet commented on #118
thx for the heads-up!

[2019-08-14 07:30] phoet commented on #118
@IzzySmith could you manage to have the event posted from your dev twitter account? https://twitter.com/xingdevs

[2019-08-21 14:47] janz93 opened #119 "September meetup 2019"
11.09.2019 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRn

[2019-09-05 11:49] janz93 commented on #119
@akimthedream A year has past, would you be interested in hosting again?

[2019-09-05 13:08] gunnarmagholder opened #120 "Oktober 2019 meetup @mindmatters"
{Date of the meetup} {Time of the meetup}

- [ ] Location
- [ ] [Create Event](http://hamburg.onruby.de/admin/)
- [ ] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [ ] Promotion on Twitter
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/present

[2019-09-06 13:09] NoraBriesemeister opened #121 "November 2019 meetup @phrase"
{Date of the meetup} {Time of the meetup}

- [x] Location
- [ ] [Create Event](http://hamburg.onruby.de/admin/)
- [ ] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [ ] Promotion on Twitter
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.google.com/present

[2019-09-13 15:28] #118 closed

[2019-09-13 15:30] lindtdev opened #122 "Collecting suggestions for fishbowl discussions"
Suggestions here please!

[2019-09-13 15:40] lindtdev commented on #116
@bpieck I opened an issue for collection suggestions, you can post your suggestions here :) https://github.com/rughh/planning/issues/122

[2019-09-14 07:50] #119 closed

[2019-09-14 12:15] lindtdev commented on #121
@ Nora Hi! November @ Phrase sounds great, your office is still in the ABC Straße right?

[2019-09-16 06:20] NoraBriesemeister commented on #121
Hi Irina,

yes, it ist :)

Best regards,
Nora

On Sat, Sep 14, 2019 at 2:15 PM Irina Lindt <notifications@github.com>
wrote:

--

Nora Briesemeister

Tech Recruiter

Tel: ‭+49 151 10218463‬

Join us: https://phrase.com/careers

<https://phraseapp.com/careers>

Phrase.com by Dynport GmbH, ABC-Str. 4, 20354 Hamburg, Germany - HRB
109537, Amtsgericht Hamburg, Abt. 66 Wolfram Graetz, Tobias Schwab,
Fr

[2019-09-16 20:21] lindtdev commented on #121
@ Nora great, let's make it a date then :) I'll open an extra issue so I can check off the checkmarks

[2019-09-17 07:38] NoraBriesemeister commented on #121
I think Wednesdays are good :) So what about November 6th or 20th?

[2019-09-17 08:26] lindtdev commented on #121
Does the 13th work? The usergroup is always on the second Wednesday of a month.

[2019-09-18 12:29] NoraBriesemeister commented on #121
Yes, 13th works for us!

[2019-09-20 11:35] lindtdev commented on #121
Great, let's make that a date!

[2019-09-20 12:53] #121 closed

[2019-09-23 10:30] #120 closed

[2019-09-23 10:31] lindtdev opened #123 "October Meetup @ Publicis Pixelpark"
09 October, 19:00:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/) https://hamburg.onruby.de/events/ruby-usergroup-hamburg-october-2019-567
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter https://twitter.com/HamburgOnRuby/status/1176080004716924928
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdA

[2019-09-23 10:33] lindtdev opened #124 "November Meetup @ Phrase"
13 November, 19:00:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/) https://hamburg.onruby.de/events/ruby-usergroup-hamburg-november-2019-568
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
-

[2019-09-23 10:50] lindtdev commented on #121
Moin Nora,
that's great! I created a new issue for that date
https://github.com/rughh/planning/issues/124

Am Mi., 18. Sept. 2019 um 14:29 Uhr schrieb Nora Briesemeister <
notifications@github.com>:

[2019-09-24 10:44] lindtdev opened #125 "December Meetup @ mindmatters"
11 December, 19:00:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/) https://hamburg.onruby.de/events/ruby-usergroup-hamburg-december-2019-574
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZo

[2019-10-04 08:44] bpieck commented on #122
What about:
"Preparing for new developers - everything you were totally missing beeing prepared, when you got into a new team"

[2019-10-06 11:05] lindtdev commented on #123
Moin Bente! A talk on doorkeeper sounds great! Could you do a talk focusing on why someone would need to run their own oauth server? Make it on the shorter side, 15-20 minutes if you feel it's not going to be relevant for many, but I for one would love to listen to it.

[2019-10-06 14:37] bpieck commented on #123
Ok, I will prepare a talk and focus as you recommended :)

[2019-10-08 10:07] lindtdev commented on #123
Great, thank you! Do you mind also entering your talk topic on our meetup page? Under "Add a topic"/"Eigenes Thema eintragen" https://hamburg.onruby.de/events/ruby-usergroup-hamburg-october-2019-567

[2019-10-25 10:48] phoet commented on #124
@nlinn ich habe deinen talk schon mal mit dem event verknüpft. @lindtdev könnte damit jetzt schon mal etwas auf twitter hausieren gehen.

[2019-10-25 10:49] #123 closed

[2019-10-27 22:39] lindtdev commented on #124
Oops ja mach ich morgen

[2019-11-06 13:34] docstun commented on #124
@lindtdev I proposed a topic that I could talk about the next UG right here at Phrase HQ: https://hamburg.onruby.de/topics/actionview-component-830

Does this need to be approved?

[2019-11-06 15:51] lindtdev commented on #124
@docstun thank you!! Peter has connected it to the meetup page, see you next week!

[2019-11-15 13:38] #124 closed

[2020-01-02 10:47] janz93 commented on #125
@phoet and @halfbyte if possible could you please share the slides of your talks?

[2020-01-02 10:49] janz93 opened #126 "Januar meetup 2020"
08.01.2020 at 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/) https://hamburg.onruby.de/events/ruby-usergroup-hamburg-januar-2020-581
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x]

[2020-01-02 12:34] phoet commented on #125
@janz93 i did not have any slides

[2020-01-03 12:38] halfbyte commented on #125
https://ruby-synth.fun/presentation.html :)

[2020-01-03 14:11] #125 closed

[2020-01-13 09:20] phoet opened #128 "February Meetup"
12.02.2020 19:00

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google.com/presentation/d/1IQfnE3TbG3EU5zRn

[2020-01-13 09:23] phoet commented on #128
PROPOSAL a)

organize a small hackaton that covers the redesign of onruby.de (https://github.com/phoet/on_ruby/issues). this will be organized by @phoet

PROPOSAL b)

organize a ruby-golf tournament (see https://code-golf.io/). organizer TBD

[2020-01-15 14:51] #126 closed

[2020-01-15 14:58] janz93 opened #129 "WIP: Meetup location overview"
This is should show for which meetups we are still in need of a location

* [x] 08.01.2020 19:00
* [ ] 12.02.2020 19:00
* [ ] 11.03.2020 19:00
* [ ] 08.04.2020 19:00
* [ ] 13.05.2020 19:00
* [ ] 10.06.2020 19:00
* [ ] 08.07.2020 19:00
* [ ] 12.08.2020 19:00
* [ ] 09.09.2020 19:00
* [ ] 14.10.2020 19:00
* [ ] 11.11.2020 19:00
* [ ] 09.12.2020 19:00

[2020-02-12 18:05] stex opened #130 "Meetup March 2020"
Thank you for wanting to host the Ruby Usergroup Hamburg!

Everything that there is to know about hosting you will in find in our [README](https://github.com/rughh/planning#ausrichten--hosting) and on [our website](http://hamburg.onruby.de/locations/none?locale=en).

If you are unsure when we are still looking for a location have a look at our [schedule overview](https://github.com/rughh/planning/

[2020-02-18 13:08] #128 closed

[2020-02-19 13:06] SuperSlou opened #131 "XING - Dammtorstrasse 30 - 08.04.2020 - Meetup Hosting"
Thank you for wanting to host the Ruby Usergroup Hamburg!

Everything that there is to know about hosting you will in find in our [README](https://github.com/rughh/planning#ausrichten--hosting) and on [our website](http://hamburg.onruby.de/locations/none?locale=en).

If you are unsure when we are still looking for a location have a look at our [schedule overview](https://github.com/rughh/planning/

[2020-02-19 13:10] SuperSlou opened #132 "XING - Dammtorstrasse 30 - 10.06.2020 - Meetup Hosting"
Thank you for wanting to host the Ruby Usergroup Hamburg!

Everything that there is to know about hosting you will in find in our [README](https://github.com/rughh/planning#ausrichten--hosting) and on [our website](http://hamburg.onruby.de/locations/none?locale=en).

If you are unsure when we are still looking for a location have a look at our [schedule overview](https://github.com/rughh/planning/

[2020-02-21 15:54] phoet opened #133 "March Meetup"
11.03.2020 19:00 @ lokalportal

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.g

[2020-02-21 15:55] phoet commented on #133
see https://github.com/rughh/planning/issues/130

[2020-02-21 15:59] phoet commented on #131
@SuperSlou is it correct that you are offering 2 slots, or is it just that we can choose between april and june?

[2020-02-21 16:00] phoet commented on #133
see https://hamburg.onruby.de/events/ruby-usergroup-hamburg-marz-2020-592

[2020-02-21 16:01] phoet commented on #133
@Stex thanks for offering to host the usergroup. i'll contact you directly via email.

[2020-02-24 08:55] #130 closed, assigned to nobody

[2020-02-24 09:02] stex commented on #133
@phoet The map pin seems to point to a slightly wrong location, not sure though why as the tooltip address seems correct.

![2020-02-24 at 10 00](https://user-images.githubusercontent.com/27221/75139322-9dec4880-56ec-11ea-9627-c99540dd9b0a.png)

[2020-02-24 14:48] phoet commented on #133
@Stex 🤷‍♂️ geocoder does not like the 14d! i changed it manually

[2020-03-04 20:23] phoet commented on #133
@Stex does someone from localportal want to give a talk?

[2020-03-06 19:34] stex commented on #133
@phoet Didn't hear anything yet, will ask on Monday.

[2020-03-09 17:20] stex commented on #133
Doesn't look like it

[2020-03-11 07:06] johanness commented on #133
Hi!

I could give a talk about a project we did replacing an legacy ecommerce landscape. We used a lot ruby for the product synchronization. This would also contain some details about shopify and the struggle we had on the way... Does this sound interesting to you? @phoet @Stex

[2020-03-11 08:32] phoet commented on #133
@johanness 👍 could you put your abstract here? https://hamburg.onruby.de/topics/new

i'll be tweeting this out afterwards.

[2020-03-11 08:56] johanness commented on #133
@phoet [done](https://hamburg.onruby.de/topics/ecommerce-renewal-with-shopify-and-ruby-glue-855)

[2020-03-11 15:11] stex commented on #133
@phoet I adjusted the door sign and will print it out

**Edit**: The pin is wrong again though 🙈

[2020-03-11 15:39] phoet commented on #133
@Stex probably some update that geocoded it again... i just removed the c (which is breaking the geocoding) and added the address to the description

[2020-03-11 16:38] phoet commented on #131
@SuperSlou ping!

[2020-03-12 09:36] SuperSlou commented on #131
Hello!

Sorry for my late reply, I was on vacation :s
Indeed, we are planning to offer these two slots:
-- 08.04.2020
-- 10.06.2020

Is it still OK for you?
Thank you!
Cheers,
Slim

Le mer. 11 mars 2020 à 17:39, Peter Schröder <notifications@github.com> a
écrit :

--
*Slim Ben Salah*
06 17 56 95 26

[2020-03-12 09:41] phoet commented on #131
@SuperSlou sure thing. we would appreciate if you could help find people who are interested in giving a talk at the usergroup.

[2020-03-13 06:28] SuperSlou commented on #131
Hey! Alright, I'll check for that.
Just one question to be sure: Can the speakers be remote or do they have to be physically in Hamburg?
Thanks!

[2020-03-13 07:15] phoet commented on #131
@SuperSlou sure thing, bonus-points if that talk can be live-streamed!

[2020-03-16 08:12] SuperSlou commented on #131
Hey! Sure, I'll check that :)
Besides that, as you know, events are currently quite disturbed with the Corona threat.
Our offices for example are currently closed and we work remotely (for now only for this week).
I'll let you know how the situation evolves on our end.

[2020-03-16 09:15] phoet commented on #131
yes indeed, that might make a remote meetup quite an interesting option

[2020-03-30 16:19] #133 closed, assigned to phoet

[2020-03-30 16:19] phoet commented on #131
@SuperSlou any updates on the remote-talks front?

[2020-04-08 11:33] SuperSlou commented on #131
Hello Peter!
Well for this edition we didn't find volunteers, but I'll give them a heads up for next month's one.
Hope everything's going well on your side!

[2020-05-10 12:44] janz93 opened #134 "Remote June Meetup 2020"
10.06.2020 19:00 @ home via video call

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https:

[2020-05-10 13:51] janz93 commented on #131
@SuperSlou in the current situation we won't feel comfortable with the organization of physical meetups. Yet we are looking for ways to have a remote meetup. As the next meetup, this Wednesday is a very short window we are going to skip this month and plan to have a big remote meetup in June.
As for clarity reasons, I would, therefore, close this issue and continue the conversation in #134

[2020-05-10 13:51] #131 closed, assigned to nobody

[2020-05-10 13:54] janz93 commented on #134
@SuperSlou you [mentioned](https://github.com/rughh/planning/issues/131#issuecomment-610906360) the possibility of someone giving a presentation. Could you check if this is still the case?

[2020-05-28 08:31] janz93 commented on #134
@SuperSlou any updates on the remote-talks option?

[2020-06-05 08:36] SuperSlou commented on #134
Hey @janz93!
I'm waiting for answers from volunteers, will update you as soon as I have answers!
So far I have volunteers to attend, not yet to present.

[2020-06-08 15:45] SuperSlou commented on #134
Hey again!
So, unfortunately we only have people interested in attending the Ruby meetup, but they told me they will think about presentations for the next events.

[2020-06-08 20:18] janz93 commented on #134
Hello @SuperSlou Thanks for the feedback.

@developer88 thanks for your email. We have two talks for this meetup

But it would be great if they could add the talk onto our [website](https://hamburg.onruby.de/topics/new?locale=en).

[2020-06-16 17:30] #134 closed, assigned to janz93

[2020-06-16 17:33] janz93 commented on #132
@SuperSlou I am closing this issue since we don't plan on having any physical meetups in the near future and since your office space is also closed.
Thanks for your offer and I hope to reschedule this to some time in the future.

[2020-06-16 17:33] #132 closed, assigned to nobody

[2020-06-30 10:04] janz93 opened #135 "Remote Meetup July 2020"
08.07.2020 19:00 @ Home 🏠

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google

[2020-06-30 10:21] janz93 commented on #135
Hello, @developer88 would you have time to give your presentation this meetup?

If so I would add your talk to the meetup

[2020-06-30 12:36] developer88 commented on #135
@jaz93 yep. Sounds good

[2020-07-08 06:57] developer88 commented on #135
@janz93 hi. What is zoom url? On the website it says to check *zoom* section, but I cannot find it.

[2020-07-08 07:06] janz93 commented on #135
@developer88 the zoom link will appear if you *attend* the meetup.

As we had trouble in the past that people crashed a remote meetup before.

[2020-07-11 12:50] #135 closed, assigned to janz93

[2020-10-07 16:59] janz93 opened #136 "Remote Meetup Oktober 2020"
14.10.2020 19:00 @ remote

- [x] Location:
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.googl

[2020-10-07 17:01] janz93 commented on #136
@Stex would you be able to give your talk [`Cypress on rails`](https://hamburg.onruby.de/topics/cypress-on-rails-871) next week?

[2020-10-07 17:02] janz93 commented on #136
@stdout would you be able to give your talk `https://hamburg.onruby.de/topics/dci-thinking-differently-about-objects-870` next week?

[2020-10-08 20:03] seichner commented on #136
@janz93 yes, i can do that. My Github handle is @seichner - Sorry about the confusion, i accidentally must have entered my Twitter handle in my HH-Ruby-UG profile.

[2020-10-13 10:13] stex commented on #136
@janz93 Sorry, I must have missed the notification email 😞

I haven't finished the talk yet, hopefully next month.

[2020-10-23 15:51] #136 closed, assigned to janz93

[2020-11-17 13:48] alster-wasser opened #137 "Remote Meetup December"
09.12.2020 19:00 @ Zoom

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [ ] Add Issue ID to Event
- [ ] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [ ] Promotion on Twitter
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)

[2020-12-09 22:10] stex commented on #137
My slides and demo application for the Cypress on Rails talk: https://stex.codes/programming/2020/12/09/cypress-on-rails-talk.html

[2022-05-09 12:29] #137 closed, assigned to nobody

[2022-05-09 12:30] janz93 opened #138 "Meetup June 2022"
2022-06-08 19:00:00 @ sumcumo

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.go

[2022-06-08 20:33] stex opened #139 "[Talk Proposal] Cypress on Rails 2 - Electric Boogaloo"
I could offer an updated version of [my talk on how to use cypress.io with Rails](https://stex.codes/2020/12/09/cypress-on-rails-talk.html) as only 3 people ever heard it anyway 🙈

It would cover how to set it up, create test data with `factory_bot` directly from cypress and some best practices and comparisons to `capybara`

[2022-06-08 20:35] stex opened #140 "[Talk Proposal] Turbo, Stimulus and Github's ViewComponents in Rails 7"
A talk about *modern, dynamic and modular* ™️ Rails views with Hotwire and ViewComponents, including Turbo Frames and `shakapacker`/Importmaps

[2022-06-08 20:37] stex opened #141 "[Talk Proposal] Docker Swarm - Kubernetes for companies without an own DevOps department"
A talk about how to get started with a self-hosted docker swarm cluster, service discovery and metrics. And common problems I faced when setting it up that almost drove me crazy.

Partial Stack:

* Docker Swarm / Stack
* Traefik
* Prometheus
* Grafana

[2022-06-09 07:55] #138 closed, assigned to nobody

[2022-06-16 11:12] JoschkaSchulz opened #142 "[Talk Proposal] TTY::Toolkit"
A talk about the collection of the tty toolkit collection. It's not the newest stuff out there, but it could be nice for those who haven't heard about it.

https://ttytoolkit.org/

maybe could be a live coding talk

[2022-06-29 12:13] alster-wasser opened #143 "July 2022 Meetup"
13-07-2022 19:00 @ shipcloud

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.goo

[2022-07-05 07:00] janz93 commented on #142
Hey @JoschkaSchulz would it be possible for you to give your talk next week #143
Or would some different time work better for you

[2022-07-05 07:00] janz93 commented on #141
Hey @Stex would it be possible for you to give your talk next week #143
Or would some different time work better for you

[2022-07-06 15:09] stex commented on #141
Hey @janz93, sorry, I'm won't be able to make it to the user group in July...

[2022-07-06 16:39] janz93 commented on #141
Okay too to know 👍

[2022-07-06 23:07] JoschkaSchulz commented on #142
Hey,

Not sure if I get everything together that quick. Can I tell you Monday? I would try to build a presentation on Sunday.

[2022-07-07 08:11] janz93 commented on #142
Yeah sorry for the late info.
We had trouble finding a location 🙈

If a big presentation is to much to ask I would suggest to maybe have it as a lighting talk and see if others are willing to make one as well.

[2022-07-11 07:30] JoschkaSchulz commented on #142
Hey @janz93,
I think I'm not able to hold the talk... Sadly can't make it to ruby usergroup this week, but I would prepare everything for next months usergroup if that would be fine?

[2022-07-11 07:42] janz93 commented on #142
Yes this will be fine as well 😄

[2022-07-27 18:42] #143 closed, assigned to nobody

[2022-07-27 18:44] janz93 opened #144 "August 2022 Meetup"
10.08.2022 19:00 @ {location}

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.go

[2022-07-27 18:45] janz93 commented on #142
Hey @JoschkaSchulz do you think you will be able to give the talk at the #144 August Meetup?

[2022-07-27 18:46] janz93 commented on #140
@Stex do you think you will be able to give the talk at the [August Meetup](https://github.com/rughh/planning/issues/144)?

[2022-08-04 08:32] JoschkaSchulz commented on #142
sorry, thought I answered already :) I think I will be able to hold the talk. Would like to know, do I need to talk in english or can I do the talk in german? (just like to know it when I prepare everything on saturday)

[2022-08-04 09:48] janz93 commented on #142
English would be preferred as it is our default language.

If you feel more comfortable in German we will think about a way how it can be somehow transparent for non German speakers

[2022-08-04 12:48] janz93 opened #145 "[Talk Proposal] Flutter with Rails for Mobile Apps"
Using Rails as Server application and API against a flutter cross-plattform mobile app (Android and iOS) with Action Cable, demonstrated with a currently in development app for football data, also see the API Gem https://football-butler.de

[2022-08-04 12:49] janz93 commented on #145
@frontimax sorry for the late notice.

Would you be able to give the next week at the meetup or should we plan it for a later time?

[2022-08-06 21:32] JoschkaSchulz commented on #142
ah no it's fine :) I asked just because of the preparation of the talk

[2022-08-11 07:27] JoschkaSchulz commented on #144
TTY toolkit Talk
https://docs.google.com/presentation/d/1iNQ5293mF64HB_vOKXBhevFGRs1VwPetx0LT88yzpsU/edit?usp=sharing

[tty toolkit (1).pdf](https://github.com/rughh/planning/files/9306932/tty.toolkit.1.pdf)

[2022-08-11 07:28] salzig commented on #142
Thanks for the talk @JoschkaSchulz

[2022-08-11 08:15] stex commented on #139
@janz93 I'm on vacation in September, but could hold this talk in October, including how to use cypress in (Gitlab) CI with backend and other dependencies as services

[2022-08-11 08:59] #144 closed, assigned to nobody

[2022-08-11 08:59] #142 closed, assigned to nobody

[2022-08-11 09:02] janz93 opened #146 "September 2022 Meetup"
2022-09-14 19:00:00 @ MissionMe

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.

[2022-08-15 07:35] janz93 opened #147 "Oktober 2022 Meetup"
12.10.2022 19:00 @ {location}

- [ ] Location
- [ ] [Create Event](http://hamburg.onruby.de/admin/)
- [ ] Add Issue ID to Event
- [ ] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [ ] Promotion on Twitter
- [ ] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [ ] [Adjust Door Sign](https://docs.go

[2022-08-15 07:36] janz93 commented on #139
@Stex Thanks for the update.

I will add you to the speaker list for October 🎉

#147

[2022-08-24 09:04] janz93 commented on #146
@huldalam we are looking for a location for the meetup.
Could you see your company hosting this or some of our next meetups?

Thanks in advance Jan :)

[2022-08-30 15:20] huldalam commented on #146
Hi @janz93 ,
mit wievielen Leuten rechnet ihr? Das Büro ist hier nicht ganz so groß und hat nicht wirklich Präsentationsmöglichkeiten :thinking:

Grützie,
Anne

[2022-08-31 10:48] janz93 commented on #146
@huldalam Wir Planen so mit ca. 15 Personen pro Meetup.
Allerdings klingt das jetzt nicht danach, dass ihr die besten Möglichkeiten zum Hosten habt.

Da wir auch schon eine Location für den September gefunden haben, ist das ganze auch nicht mehr so zeitkritisch.

Vielleicht bietet es sich ja mal an, dass man in Ruhe das Ganze besprechen kann.

[2022-09-21 10:20] #146 closed, assigned to nobody

[2022-09-22 14:22] huldalam commented on #146
Hi. Ich glaube, für 15 Leute wäre schon Platz, aber halt ohne großen Präsentationsmodus. Von daher ist es ganz gut, wenn ihr andere Locations vorzieht ;-)

[2022-10-07 06:51] stex commented on #147
@janz93 Just to be sure: There is no October meetup, correct? At least I didn't see it on the website.

[2022-10-07 08:52] janz93 commented on #147
@Stex Yes that is correct.
We will be at the heruko in Helsinki

[2022-10-07 08:52] #147 closed, assigned to nobody

[2022-10-07 09:03] janz93 opened #148 "November 2022 Meetup"
09.11.2022 19:00 @ [njiuko](https://hamburg.onruby.de/locations/njiuko-72)

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=shar

[2022-10-07 09:05] janz93 commented on #139
I saw that you will attend the November meetup.
Does this mean you also could give your talk there?

#148

[2022-10-07 09:53] stex commented on #139
Yes, sounds good :)

[2022-11-03 13:45] stex commented on #148
Hey @janz93!
Just to confirm: I'll hold my cypress task next week?

[2022-11-03 14:02] janz93 commented on #148
Correct 👍

[2022-11-10 15:04] janz93 commented on #148
@stex Could you add here a link to the repo and maybe your slides?

[2022-11-10 17:58] stex commented on #148
Sorry, only tweeted the link, but forgot to add it here

https://stex.codes/2022/11/09/cypress-on-rails-2-electric-boogaloo.html

[2022-11-10 17:59] #148 closed, assigned to nobody

[2022-11-10 18:00] #139 closed, assigned to nobody

[2022-11-22 11:38] janz93 opened #149 "December 2022 Meetup"
14.12.2202 19:00 @ TBD

- [x] Location
- [x] [Create Event](http://hamburg.onruby.de/admin/)
- [x] Add Issue ID to Event
- [x] [Talks / Format](https://github.com/rughh/planning/wiki/Speaker-Checklist)
- [x] Promotion on Twitter
- [x] [Adjust Slides](https://docs.google.com/presentation/d/1qbNdAffMiYkPWUrUd5xeWHq6ge6vhIVQtuZomdiSorU/edit?usp=sharing)
- [x] [Adjust Door Sign](https://docs.google.co

[2022-11-28 13:40] iltempo commented on #149
Yoga Easy GmbH & Co. KG
Dorotheenstr. 48
22301 Hamburg